@import url(https://fonts.google.com/specimen/Oswald?query=oswald);

* {
    box-sizing: border-box;
    font-family: "oswald", sans-serif;
    font-size: medium;
}
html {
    width: 1000px;
}

body {
    /*Body auf allen seiten mit dem Grid*/

    /*hintergrund auf allen Seiten*/
    background-image: url("Medien/tree.jpg");
    background-size: cover;
    background-position: center;
    min-height: 1400px;
    background-attachment: fixed;
    /*background-position: center;
    background-repeat: no-repeat;*/
    max-width: fit-content;
    display: grid;

    grid-template-columns: 20% 90% 10%;

    grid-template-rows: auto 3fr auto;

    grid-template-areas:

        "nav nav nav"
        "aside main main"
        "footer footer footer";

}

main {
    grid-area: main;
    margin-top: 12rem;
}

header {
    font-weight: bolder;
    font-size: 300%;
    margin-top: 25px;

}

footer {
    grid-area: footer;
    bottom: 0;
    color: white;
    font-size: initial;
    text-align: left;
}

#footertext {
    /*Text im Footer*/
    color: white;
    font-size: 16px;

}

.welcome {
    /*Homeseite inschrift*/
    font-size: 1000%;
    color: #BDD4E7;
    margin-top: 10;
    width: fit-content;

}

nav {
    /*Navigationsbalken*/
    width: 100%;
    background-color: black;
    height: 70px;
    grid-area: nav;
    position: absolute;
    margin-top: 0;
}



.navbar {
    /*Navigationsliste*/
    list-style: none;
}

.navbox {
    /*Navigationsbox*/
    float: left;
    background-color: black;
    text-align: center;
    width: 150px;
}

.navbox1 {
    background-color: black;
    text-align: center;
    width: 150px;
}


.navtext {
    /*Text in der Navigationsbox*/
    display: block;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

.navbox:hover {
    /*Hover über den Navtext*/
    background-color: #333;
    border-left: solid white;
}

.navbox2 {
    /*zweite Navigationsbox*/
    display: none;
    background-color: black;
    text-align: center;
    width: 150px;
    height: 40px;
}

.navbox2:hover {
    background-color: #333;
    border-left: solid white;
}




.title {
    /*Title auf allen seiten*/
    font-size: 300%;
    margin-left: 100%;
}


.maintext {
    /*Formatierung des Textest auf allen seiten in der Main*/
    padding: 20px;
    background-color: white;
    height: fit-content;
    margin-top: 0;
    grid-area: main;
    max-width: 95%;
}

.hiddennav {
    /*versteckte NAVBar bei verkleinerung des Fensters*/
    display: none;
    list-style: none;
}

.hiddennav:hover {

    width: fit-content;
}

.contact {
    /*DIV Kontaktseite*/
    padding: 30px;
    margin-top: 0;
}


.contactinput {
    /*Inputfeld Kontaktseite*/
    color: #212227;
    border: none;
    border-bottom: 1px solid #212227;
    text-align: left;
    width: 100%;
    height: 50px;
    font-size: 16px;
    outline: none;
}



#contactmessage {
    /*Textfeld Kontaktseite*/
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #212227;
    min-height: 200px;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

#submit {
    /*Submit button*/
    background-color: #212227;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#submit:hover {
    background-color: #637074;

}

iframe {
    margin-left: 30%;
}

#platz {
    /*Platzhalter auf der Homepage*/
    height: 700px;
}
.ewan {
    float: right;
}

@media only screen and (max-width: 1400px) {
    .welcome {
        /*titel auf Homepage*/
        padding-top: 40px;
        font-size: 500%;
        font-weight: lighter;
    }

    main {
        width: 800px;
    }

    .title {
        font-size: 300%;
        padding: 40px;
    }

    .navtext {
        font-size: 12px;
    }

    .home {
        min-height: 700px;

    }

    iframe {
        margin: 0;
    }

}

@media only screen and (max-width: 900px) {

    .welcome {
        /*titel auf Homepage*/
        padding-top: 40px;
        font-size: 300%;
        font-weight: lighter;
    }

    main {
        width: 400px;
        margin: 5px;
    }

    .title {
        font-size: 150%;
        padding: 40px;
        margin: 12px;
    }

    .navtext {
        font-size: 12px;
    }


    .navbar {
        display: none;
    }

    #impressum {
        font-size: 14px;
    }

    .hiddennav {
        display: block;
        list-style: none;
    }

    .hiddennav:hover .navbox2 {
        display: block;
        list-style: none;

    }

    #platz {
        height: 0px;
    }

    nav {
        width: 100%
    }

    .homemain {
        width: 500px;
    }

    iframe {
        height: 150%;
        width: 100%;

    }

}
@media only screen and (max-width: 600px) { 
    body {
        display: grid;

        grid-template-columns: 90%;
    
        grid-template-rows:auto;
    
        grid-template-areas:
    
            "nav "
            "main"
            "footer";
    
    }

    html {
        width: 590px;
        height: 400px;
    }

main {
    width: 300px;
    margin-left: 0;
    text-align: left;
}
.title {
    font-size: 100%;
}
.welcome {
    position:relative;
    top: 300px;
    margin-left: 10%;
}
#platz {
    display: none;
}
iframe {
    height: 150%;
    width: 100%;

}

}